.mainpanel
         {
             background: #000000;
         }

.rectangular_panel
                 {
                     background: #000000;
                     border: 2px green dashed;
                 }
.circle_panel
                 {
                     background: #000000;
                     border: 2px green dashed;
                     border-left-color: black;
                     -webkit-border-radius: 0 50% 50% 0;
                 }
.search_panel
                 {
                     background: #000000;
                     border: 2px green dashed;
                     -webkit-border-radius: 50%;
                 }
.black_panel
                 {
                     background: #000000;
                 }
.label_panel
                 {
                     color: #FFFFFF;
<<<<<<< HEAD
                     font-size: bold 90%;
=======
                     font-size: 90%;
>>>>>>> 29257bb79c41d783ce9bdfd880d68cc5b80a82df
                     background: #000000;
                 }
.textfield
                 {
                   color: #FFFFFF;
                   background: #000000;
                 }
.textfield_input
                 {
<<<<<<< HEAD
                   color: #FFFFFF;
                 }
.html_content
                 {
                   color: #FFFFFF;
                   padding-top: 2%;
                   padding-left: 5%;
                 }
.button_image
                 {
                     height: 100%;
                     width: 100%;
                 }
=======

                   color: #FFFFFF;
                 }
>>>>>>> 29257bb79c41d783ce9bdfd880d68cc5b80a82df
